<form method="POST" action="/signup">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Enter username">
  
  <label for="Email">Email</label>
  <input id="Email" type="text" name="Email" placeholder="Enter Email">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Enter password">

  <button type="submit" >SignUp</button>

</form>

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}} 