<section class="flex-section form-dark">

  <div class="positiondivsign card card-image" style="width: 28rem;">
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4 text-center">
    <form method="POST" class="align-items-center" action="/signin">
  
        <div class="text-center">
        <h3 class="text-dark mb-5 mt-4 font-weight-bold"><strong>SIGN</strong> 
        <a class="text-dark font-weight-bold"><strong> IN</strong></a></h3>
      </div>

      <div class="md-group">
        <input name= "email" type="text" id="Form-email5" class="form-control white-text" placeholder="email@example.com">
        <label for="email">Email address</label>
      </div>
      
      <div class="md-form pb-3">
          <input name="password" type="password" id="Form-pass5" class="form-control white-text" id="password" placeholder="Password">
          <label for="Form-pass5">Your password</label>
      </div>

      <div class="row d-flex align-items-center mb-4">
        <div class="col-auto my-1">
          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">I am a</label>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="loginType">
            <option selected>Choose...</option>
            <option value="1">Adopter</option>
            <option value="2">Shelter</option>
          </select>
      </div>
      
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-success btn-rounded z-depth-1">Log In!</button>
      </div>
    </form>
</div>
</div>
      
</section>

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}} 




  

      

      