
<!-- Footer -->
<footer class="page-footer font-small pt-4 fixed-bottom myfooter">

<div class="footertext">
<h5 class="text-uppercase font-weight-bold">Adopt a shelter dog!</h5>
<p>Every sign in here makes another dog happy</p>
</div>

<div class="view overlay z-depth-1-half">
    <img src="/images/logo2.png" class="img-fluid" alt="LOGO ADOPTIFY">
</div>
      
</footer>
<!-- Footer -->