<h1>You sent a message to the shelter for adopt this dog!</h1>
<img src="images/adoptme.png">

<a href="/"><button id = "del-btn" class="btn btn-danger">Go home</button></a> 
<a href="/adopters/find-dogadopter"><button id = "del-btn" class="btn btn-danger">Go back</button></a> 