<form method="POST" action='/pet-profile/create'>
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Age</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
   <div class="form-group">
    <select class="form-control" name= "Size"> 
     <option value="1">Small</option>
     <option value="2">Medium</option>
     <option value="3">Large</option>
    </select> 
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <div class= "form-group">
  <select class="form-control" name = "Cities"> 
      <option value="1">Alava</option>
      <option value="2">Albacete</option>
      <option value="3">Alicante</option>
      <option value="4">Asturias</option>
      <option value="5">Avila</option>
      <option value="6">Badajoz</option>
      <option value="7">Barcelona</option>
      <option value="8">Burgos</option>
      <option value="9">Caceres</option>
      <option value="10">Cadiz</option>
      <option value="11">Cantabria</option>
      <option value="12">Castellon</option>
      <option value="13">Ciudad Real</option>
      <option value="14">Cordoba</option>
      <option value="15">A Coruña</option>
      <option value="16">Cuenca</option>
      <option value="17">Gerona</option>
      <option value="18">Granada</option>
      <option value="19">Guadalajara</option>
      <option value="20">Guipúzcoa</option>
      <option value="21">Huelva</option>
      <option value="22">Huesca</option>
      <option value="23">Islas Baleares</option>
      <option value="24">Jaen</option>
      <option value="25">Leon</option>
      <option value="26">Lerida</option>
      <option value="27">Lugo</option>
      <option value="28">Madrid</option>
      <option value="29">Malaga</option>
      <option value="30">Murcia</option>
      <option value="31">Navarra</option>
      <option value="32">Orense</option>
      <option value="34">Palencia</option>
      <option value="35">Las Palmas</option>
      <option value="36">Pontevedra</option>
      <option value="37">La Rioja</option>
      <option value="38">Salamanca</option>
      <option value="39">Segovia</option>
      <option value="40">Sevilla</option>
      <option value="41">Soria</option>
      <option value="42">Tarragona</option>
      <option value="43">Santa Cruz de Tenerife</option>
      <option value="44">Teruel</option>
      <option value="45">Toledo</option>
      <option value="46">Valencia</option>
      <option value="47">Valladolid</option>
      <option value="48">Vizcaya</option>
      <option value="49">Zamora</option>
      <option value="50">Zaragoza</option>
  </select>
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="customCheck1">Good with kids</label>
  </div> 
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="customCheck1">Good with dogs</label>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Other</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>

</form>