  <head>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.js"  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <img src="/images/logo2.png">
    <nav>
      <ul>
        {{#unless loggedInUser}} 
        <li id="to-right">
          <a href="/signup">Sign up</a> <span> | </span>
        </li>
         <li id="to-right">
          <a href="/signin">Log In</a> <span> | </span>
        </li>
        {{/unless}}
        {{#if loggedInUser}} 
         <li id="to-right">
          <a href="/signout">Sign Out</a> <span> | </span>
        </li>
        {{/if}}
      </ul>
    </nav>

  
    {{{body}}}

  <script src="/javascripts/script.js"></script>

  

