body {
  background-color: peachpuff;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5c36c8e9f407b455445146ce/1560793579744-GM9KQ37LOJRP8KWNZX3Z/ke17ZwdGBToddI8pDm48kPDUVSqrWjPMxE-ZvsjgIc17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hGaawTDWlunVGEFKwsEdnEU1PnaEfKGyE_TykhEcRahciWbM2_nO4JOvLrs9mDw8A/Cat-Dog+Background.jpg');
  background-size: cover;
}

footer { 
  background-color: white;
  padding: 0;
  padding-top: 0;
}

.img-fluid {
  max-height: 100px;
}

.myfooter {
  display: flex;
  justify-content: flex-end 
}

.footertext {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
.color-blue {
  color: peachpuff;
}

form {
  margin-bottom: 200px;
}

.positiondivsign {
  margin-left: 0;
}

.flex-section {
  display: flex;
  justify-content: center;
  
}

.finderposition {
  display: flex;
  justify-content: space-between;
}

.profile-section {
  background-color: whitesmoke;
  border-radius: 0px 30px 30px 0px;
  opacity: 0.8;
}

.divbuttonfinder {
  margin: 40px;
}

.editadopterform {
  max-width: 600px;
}
  
.form-group {
  margin: 30px 0px;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 500px !important;
}

.findercard {
  width: 200px;
}

.cardcontainer {
  flex-wrap: wrap;
}
