body {
  background-color: peachpuff;
}

footer { 
  background-color: white;
}

.img-fluid {
  max-height: 100px;
}

.myfooter {
  display: flex;
  justify-content: flex-end 
}

.footertext {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}