<h1>This is the adopter profile</h1>
<p>{{adopter.name}}</p>
<p>{{adopter.location}}</p>

<a href="/petprofile/{{user.id}}/editadopter"><button id = "del-btn" class="btn btn-danger">Edit</button></a> 
<a href="/petprofile/{{user.id}}/deleteadopter"><button id = "del-btn" class="btn btn-danger">Delete</button></a>