<h1>This is the adopter profile</h1>
<p>{{adopter.name}}</p>
<p>{{adopter.location}}</p>
{{adopter._id}}
<a href="/adopter/find-dogadopter"><button id = "del-btn" class="btn btn-danger">Find dogs</button></a>
<a href="/adopter/editadopter"><button id = "del-btn" class="btn btn-danger">Edit</button></a> 
<a href="/adopter/deleteadopter/{{adopter._id}}"><button id = "del-btn" class="btn btn-danger">Delete</button></a>