<h1>Shelter information</h1>
<div>

<p>{{shelter.name}}</p>
<p>{{shelter.city}}</p>

</div>

<a href="/shelter/find-dog"><button id = "del-btn" class="btn btn-danger">Find dogs</button></a>
<a href="/shelter/myrequests"><button id = "del-btn" class="btn btn-danger">Requests</button></a> 
<a href="/shelter/editshelter"><button id = "del-btn" class="btn btn-danger">Edit</button></a> 
<a href="/shelter/deleteshelter"><button id = "del-btn" class="btn btn-danger">Delete</button></a>
<a href="/pet-profile/create"><button id = "del-btn" class="btn btn-danger">Create dog</button></a>
<a href="/yourdogs"><button id = "del-btn" class="btn btn-danger">Your dogs</button></a>

